#parent{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(image/bg.jpg);
}
.child{
    position: absolute;
    width: 35%;
    height: 80%;
    top: 20%;
    left: 10%;
    background-color: rgb(243, 161, 9);
    border-radius: 8px 8px 0px 0px;
}
#logo{position:absolute;
    height:10%;
    width:22% ;
    right:5%;
    top: 10%;
}
#move{
    position: absolute;
    top: 25%;
    left: 9%;
}
#wel{
    font-size: 25px;
    color: rgb(66, 63, 63);
}
#pro{
    font-size: 35px;
    color: rgb(66, 63, 63);
    font-weight: bold;
}
#your{
    font-size: 15px;
    color: rgb(66, 63, 63);
    font-weight: lighter;
    
}
#form{
    position: absolute;
    top: 60%;
    left: 9%;
}
.sty{
    padding: 10px;
    width: 300px;
    border-radius: 14px;
    border: 0;
    outline: none;
}
#submit{
    width: 380px;
    background-color: rgb(59, 56, 56);
    color: white;
    padding: 15px;
    border: 0;
    font-size: 15px;
}
